#if ($issue.isSubTask())
#set($inFocusIssue = $issue.getParentObject())
#else
#set($inFocusIssue = $issue)
#end
#set($inFocusIssueKey = $inFocusIssue.getKey())
#set($inFocusIssueSummary = $inFocusIssue.getSummary())
<a href="/browse/${inFocusIssueKey}" title="${inFocusIssueSummary}">${inFocusIssueKey}</a>
